/* Adelle */

@font-face {
	font-family: 'Adelle';
	src: url('../fonts/Adelle/AdelleSansSAGE-Thin.eot');
	src: local('☺'), url('../fonts/Adelle/AdelleSansSAGE-Thin.woff') format('woff'), url('../fonts/Adelle/AdelleSansSAGE-Thin.ttf') format('truetype'), url('../fonts/Adelle/AdelleSansSAGE-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle';
	src: url('../fonts/Adelle/AdelleSansSAGE-ThinItalic.eot');
	src: local('☺'), url('../fonts/Adelle/AdelleSansSAGE-ThinItalic.woff') format('woff'), url('../fonts/Adelle/AdelleSansSAGE-ThinItalic.ttf') format('truetype'), url('../fonts/Adelle/AdelleSansSAGE-ThinItalic.svg') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Adelle';
	src: url('../fonts/Adelle/AdelleSansSAGE-Light.eot');
	src: local('☺'), url('../fonts/Adelle/AdelleSansSAGE-Light.woff') format('woff'), url('../fonts/Adelle/AdelleSansSAGE-Light.ttf') format('truetype'), url('../fonts/Adelle/AdelleSansSAGE-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle';
	src: url('../fonts/Adelle/AdelleSansSAGE-LightItalic.eot');
	src: local('☺'), url('../fonts/Adelle/AdelleSansSAGE-LightItalic.woff') format('woff'), url('../fonts/Adelle/AdelleSansSAGE-LightItalic.ttf') format('truetype'), url('../fonts/Adelle/AdelleSansSAGE-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Adelle';
	src: url('../fonts/Adelle/AdelleSansSAGE-Regular.eot');
	src: local('☺'), url('../fonts/Adelle/AdelleSansSAGE-Regular.woff') format('woff'), url('../fonts/Adelle/AdelleSansSAGE-Regular.ttf') format('truetype'), url('../fonts/Adelle/AdelleSansSAGE-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle';
	src: url('../fonts/Adelle/AdelleSansSAGE-Italic.eot');
	src: local('☺'), url('../fonts/Adelle/AdelleSansSAGE-Italic.woff') format('woff'), url('../fonts/Adelle/AdelleSansSAGE-Italic.ttf') format('truetype'), url('../fonts/Adelle/AdelleSansSAGE-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Adelle';
	src: url('../fonts/Adelle/AdelleSansSAGE-Bold.eot');
	src: local('☺'), url('../fonts/Adelle/AdelleSansSAGE-Bold.woff') format('woff'), url('../fonts/Adelle/AdelleSansSAGE-Bold.ttf') format('truetype'), url('../fonts/Adelle/AdelleSansSAGE-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle';
	src: url('../fonts/Adelle/AdelleSansSAGE-BoldItalic.eot');
	src: local('☺'), url('../fonts/Adelle/AdelleSansSAGE-BoldItalic.woff') format('woff'), url('../fonts/Adelle/AdelleSansSAGE-BoldItalic.ttf') format('truetype'), url('../fonts/Adelle/AdelleSansSAGE-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

/* Crimson */

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson/crimsontext-bold.eot');
    src: url('../fonts/Crimson/crimsontext-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson/crimsontext-bold.woff2') format('woff2'),
         url('../fonts/Crimson/crimsontext-bold.woff') format('woff'),
         url('../fonts/Crimson/crimsontext-bold.ttf') format('truetype'),
         url('../fonts/Crimson/crimsontext-bold.svg#crimson_textbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson/crimsontext-bolditalic.eot');
    src: url('../fonts/Crimson/crimsontext-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson/crimsontext-bolditalic.woff2') format('woff2'),
         url('../fonts/Crimson/crimsontext-bolditalic.woff') format('woff'),
         url('../fonts/Crimson/crimsontext-bolditalic.ttf') format('truetype'),
         url('../fonts/Crimson/crimsontext-bolditalic.svg#crimson_textbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson/crimsontext-italic.eot');
    src: url('../fonts/Crimson/crimsontext-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson/crimsontext-italic.woff2') format('woff2'),
         url('../fonts/Crimson/crimsontext-italic.woff') format('woff'),
         url('../fonts/Crimson/crimsontext-italic.ttf') format('truetype'),
         url('../fonts/Crimson/crimsontext-italic.svg#crimson_textitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson/crimsontext-roman.eot');
    src: url('../fonts/Crimson/crimsontext-roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson/crimsontext-roman.woff2') format('woff2'),
         url('../fonts/Crimson/crimsontext-roman.woff') format('woff'),
         url('../fonts/Crimson/crimsontext-roman.ttf') format('truetype'),
         url('../fonts/Crimson/crimsontext-roman.svg#crimson_textroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson/crimsontext-semibold.eot');
    src: url('../fonts/Crimson/crimsontext-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson/crimsontext-semibold.woff2') format('woff2'),
         url('../fonts/Crimson/crimsontext-semibold.woff') format('woff'),
         url('../fonts/Crimson/crimsontext-semibold.ttf') format('truetype'),
         url('../fonts/Crimson/crimsontext-semibold.svg#crimson_textsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson/crimsontext-semibolditalic.eot');
    src: url('../fonts/Crimson/crimsontext-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson/crimsontext-semibolditalic.woff2') format('woff2'),
         url('../fonts/Crimson/crimsontext-semibolditalic.woff') format('woff'),
         url('../fonts/Crimson/crimsontext-semibolditalic.ttf') format('truetype'),
         url('../fonts/Crimson/crimsontext-semibolditalic.svg#crimson_textsemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}


/* Icomoon */

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/Icomoon/icomoon.eot?sdlktd');
    src:    url('../fonts/Icomoon/icomoon.eot?sdlktd#iefix') format('embedded-opentype'),
			url('../fonts/Icomoon/icomoon.ttf?sdlktd') format('truetype'),
			url('../fonts/Icomoon/icomoon.woff?sdlktd') format('woff'),
			url('../fonts/Icomoon/icomoon.svg?sdlktd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*="icon-"], .icon {

  &.x2 {
    font-size: 2em;
  }

  &.x3 {
    font-size: 3em;
  }

  &.x4 {
    font-size: 4em;
  }

	&:before {
        font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		font-size: 1em;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

i {
	&[class^="icon-"], &[class*="icon-"] {
        font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.icon-arrow-right:before {
  content: "\e900";
}
.icon-badge:before {
  content: "\e901";
}
.icon-benefit-1:before {
  content: "\e902";
}
.icon-benefit-2:before {
  content: "\e903";
}
.icon-benefit-3:before {
  content: "\e904";
}
.icon-benefit-4:before {
  content: "\e905";
}
.icon-benefit-5:before {
  content: "\e906";
}
.icon-book-download:before {
  content: "\e907";
}
.icon-bulb:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-chevron-right:before {
  content: "\e90a";
}
.icon-cutlery:before {
  content: "\e90b";
}
.icon-envelope-o:before {
  content: "\e90c";
}
.icon-handset:before {
  content: "\e90d";
}
.icon-note-pad:before {
  content: "\e90e";
}
.icon-note-scroll:before {
  content: "\e90f";
}
.icon-slider:before {
  content: "\e910";
}